<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= painting.title%></h1>
    <p>Creation year: <%=painting.year%></p>
    <p>
        <% if(painting.on_display) { %>
            On display
        <% } else { %>
            Not on display
        <% }%>            
    </p>
    <p>
        <form method="post" action='/paintings/<%= painting.id %>/delete'>
            <input type="submit" value="Delete">
        </form>
        <form action="/paintings/<%=painting.id%>/edit" method="get">
            <input type="button" value="Update">
        </form>
    </p>
</body>
</html>